#StreamSetting .CodeMirror{font-family:monospace;height:300px;color:#000;direction:ltr}
#StreamSetting legend,label{ font-family: 'Inconsolata'; font-size: small;}
#StreamSetting button.ExecuteButton{ margin:20px;}